<div class="row">
    <div class="col-4">
        <div class="card">
            <img  [src]="member.photoURL || './assets/user.png'" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">

            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>

                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>

                <div>
                    <!-- angular will format date formats for you if specified hence why | date convets the format  -->
                    <strong>Last active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>

                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created  | date}}</p>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-group de-flex"></div>
                <button class="btn btn-primary">Like</button>
                <button (click)="selectTab('Messages')" class="btn btn-sucess" style="background-color: rgb(32,178,170);">Messages</button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <!-- #... is a way to give components a reference name so you can apply logic to it in its component-->
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>

            <tab heading="Intreasts" (selectTab)="onTabActivated($event)">
                <h4>Intreasts</h4>
                <p>{{member.interests}}</p>
            </tab>

            <tab heading="Photos" #photoTab="tab" class="gallery" (selectTab)="onTabActivated($event)">
                    <!-- injects the images from the component class into a gallery provided by ng gallery -->
                    <gallery *ngIf="photoTab.active" [items]="images"></gallery>
            </tab>

            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.userName" [messages]="messages"></app-member-messages>
            </tab>
            
        </tabset>
    </div>

</div>