<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information:</strong> You have made changes. Any unsanved changes will be lost </p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img [src]="member.photoURL || './assets/user.png'" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">

            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>

                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>

                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive +'Z' | timeago }}</p>
                </div>

                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date}}</p>
                </div>
            </div>

            <div class="card-footer">
                <!-- If you need two functionalities to work together that arent part of the same container you can ahve them associated via an id and a decleration of its assocuiation. the form has an ID of editForm and this button says the form its associated with is the editForm -->
                <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-sucess col-12" style="background-color: rgb(32,178,170);">Save Changes</button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <!-- provided by ngx bootstrap. To edit specific design aspects about it you have to do it in css. cant be done here so use class name. it wa sdone in the global css file called styles.css -->
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Description</h4>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6">
                    </textarea>

                    <h4 class="mt-2">Looking for</h4>
                    <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingfor" rows="6">
                </textarea>

                    <h4 class="mt-2">Intreasts</h4>
                    <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6">
            </textarea>

                    <h4 class="mt-2">Location Details: </h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="city">City:</label>
                        <input type="text" [(ngModel)]="member.city" name="city" class="form-control mx-2">
                        <label for="country">Country:</label>
                        <input type="text" [(ngModel)]="member.country" name="country" class="form-control mx-2">
                    </div>
                </form>
            </tab>

            <tab heading="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
            </tab>

        </tabset>
    </div>

</div>